# Preparing the Data

#### Importing the required python modules

In [9]:
import pandas as pd
import numpy as np
from matplotlib import pylab as mat

#### Importing the dataset

In [4]:
df = pd.read_csv("List of Countries by Sugarcane Production.csv")

In [5]:
df.head()

,Unnamed: 0,Country,Continent,Production (Tons),Production per Person (Kg),Acreage (Hectare),Yield (Kg / Hectare)
0,0,Brazil,South America,768.678.382,"3.668,531",10.226.205,"75.167,5"
1,1,India,Asia,348.448.000,260721,4.950.000,"70.393,5"
2,2,China,Asia,123.059.739,88287,1.675.215,"73.459,1"
3,3,Thailand,Asia,87.468.496,"1.264,303",1.336.575,"65.442,2"
4,4,Pakistan,Asia,65.450.704,324219,1.130.820,57.879

#### Total number of unique countries in the Dataset

In [10]:
len(df["Country"].unique())

103

# Cleaning the Data

In [14]:
df["Production (Tons)"] = df["Production (Tons)"].str.replace(".","") # removing the "." in the production values


df["Production per Person (Kg)"] = df["Production per Person (Kg)"].str.replace(".","").str.replace(",",".")
#replacing the "," in the production per person values with "." first and then replacing all "." with empty string


df["Acreage (Hectare)"] = df["Acreage (Hectare)"].str.replace(".","") # removing the "." in the Acreage values


df["Yield (Kg / Hectare)"]= df["Yield (Kg / Hectare)"].str.replace(".","").str.replace(",",".")
#replacing the "," in the Yield column values with "." first and then replacing all "." with empty string

In [15]:
df.head()

,Unnamed: 0,Country,Continent,Production (Tons),Production per Person (Kg),Acreage (Hectare),Yield (Kg / Hectare)
0,0,Brazil,South America,768678382,3668531,10226205,751675
1,1,India,Asia,348448000,260721,4950000,703935
2,2,China,Asia,123059739,88287,1675215,734591
3,3,Thailand,Asia,87468496,1264303,1336575,654422
4,4,Pakistan,Asia,65450704,324219,1130820,57879

In [16]:
df = df.drop( "Unnamed: 0", axis = 1) # deleting the weird column named "Unnamed: 0" from the dataframe

#### Changing the column names for better accessibility

In [17]:
df.rename(columns= {"Production (Tons)": "Production(Tons)"}, inplace = True) 

df.rename(columns= {"Production per Person (Kg)": "Production_per_person(Kg)"}, inplace = True)

df.rename(columns= {"Acreage (Hectare)": "Acreage(Hectare)"}, inplace = True)

df.rename(columns= {"Yield (Kg / Hectare)": "Yield(Kg/Hectare)"}, inplace = True)

In [18]:
df.head()

,Country,Continent,Production(Tons),Production_per_person(Kg),Acreage(Hectare),Yield(Kg/Hectare)
0,Brazil,South America,768678382,3668531,10226205,751675
1,India,Asia,348448000,260721,4950000,703935
2,China,Asia,123059739,88287,1675215,734591
3,Thailand,Asia,87468496,1264303,1336575,654422
4,Pakistan,Asia,65450704,324219,1130820,57879

#### Removing the NaN values

In [19]:
df.isna().sum() # listing the NaN values

Country                      0
Continent                    0
Production(Tons)             0
Production_per_person(Kg)    0
Acreage(Hectare)             1
Yield(Kg/Hectare)            1
dtype: int64